{%extends "layout.html"%} {%block content%}
<div class="row" style="min-height:100%;">
    <div class="col-xl-7" id="app">
        <div class="container pt-1">
            <h1 style="font-size:48px; line-height:62px; font-weight:700;color: rgb(51, 51, 51);" class="text-uppercase"> Etes vous prets pour votre <br> <span class="text-primary">maison connecté</span></h1>
            <div class="container">
                <div class="d-flex justify-content-center pb-3">
                    <div v-if="leds" v-for="(led, key) in leds" :key="key" class="d-flex flex-column bg-white pl-2 pr-2 pt-2 mr-5" style="border-radius: 20px; width:150px;  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                        <div class="ml-auto">
                            <input type="checkbox" @click="publish(led.id , $event)" checked data-toggle="toggle" data-style="fast" data-size="xs" data-style="ios">
                        </div>
                        <a href="#" class="pt-3">
                            <!-- <p class="text-center pt-2 "><i class="text-center fas fa-lightbulb fa-5x "></i></p> -->
                            <!-- <i class="lni lni-bulb lni-32"></i> -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 24 24" version="1.1" class="svg-main-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="50" height="50"/>
                                    <circle fill="#000000" opacity="0.3" cx="12" cy="9" r="8"/>
                                    <path d="M14.5297296,11 L9.46184488,11 L11.9758349,17.4645458 L14.5297296,11 Z M10.5679953,19.3624463 L6.53815512,9 L17.4702704,9 L13.3744964,19.3674279 L11.9759405,18.814912 L10.5679953,19.3624463 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                    <path d="M10,22 L14,22 L14,22 C14,23.1045695 13.1045695,24 12,24 L12,24 C10.8954305,24 10,23.1045695 10,22 Z" fill="#000000" opacity="0.3"/>
                                    <path d="M9,20 C8.44771525,20 8,19.5522847 8,19 C8,18.4477153 8.44771525,18 9,18 C8.44771525,18 8,17.5522847 8,17 C8,16.4477153 8.44771525,16 9,16 L15,16 C15.5522847,16 16,16.4477153 16,17 C16,17.5522847 15.5522847,18 15,18 C15.5522847,18 16,18.4477153 16,19 C16,19.5522847 15.5522847,20 15,20 C15.5522847,20 16,20.4477153 16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 C8,20.4477153 8.44771525,20 9,20 Z" fill="#000000"/>
                                </g>
                            </svg>
                            <p class="pt-3">${led.nom}</p>
                            <a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 ">
        <img src="{{url_for( 'static' , filename='man.png' )}} " , alt="Image " />
    </div>
</div>
<script>
    var broker = "broker.mqttdashboard.com"
    var client = "pi"
    var pub_topic = "pi/esp12"
    var sub_topic = "esp32/pi"
    var port = 8000

    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            message: "",
            checkedLeds: [],
            leds: null
        },

        mounted() {
            this.connect()
            this.getLeds()
        },
        methods: {
            getLeds() {
                axios
                    .get('http://127.0.0.1:5000/leds')
                    .then(
                        response => {
                            console.log(response.data)
                            this.leds = response.data
                        }
                    ).catch(error => {
                        console.log("erreur")
                    })
            },
            connect() {
                let app = this
                client = new Paho.MQTT.Client(broker, port, client)
                this.client = client

                function onConnect() {
                    console.log("Connected")
                    client.subscribe(sub_topic)
                }

                client.onConnectionLost = function(responseObject) {
                    console.log("Connection Lost: " + responseObject.errorMessage);
                }

                client.onMessageArrived = (message) => {
                    console.log("Message Arrived: " + message.payloadString);
                    app.message = message.payloadString
                    message.destinationName = pub_topic;
                    message.qos = 0;
                    this.client.send(message)
                }

                client.connect({
                    onSuccess: onConnect,
                    userName: "pi",
                    password: "raspberry"
                });
            },

            subscribe() {},



            publish(led_number, event) {
                var state = "0"
                if (event.target.checked) {
                    state = "1"
                }
                console.log("Publishing : " + led_number + " " + state)
                var message = new Paho.MQTT.Message(led_number + state);
                message.destinationName = pub_topic;
                message.qos = 0;
                this.client.send(message)

            },

        }
    })
</script>

{%endblock%}